/* Products Section Styling */

.products-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 2% 4% 4% 4%;
  box-sizing: border-box;
}

.products-listing_item {
  height: 100%;
  gap: 20px;
  background-color: #fbfdfd;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 1s ease, box-shadow 0.3s ease;
  border: 1px solid black;
  -webkit-transition: transform 1s ease, box-shadow 0.3s ease;
  -moz-transition: transform 1s ease, box-shadow 0.3s ease;
  -ms-transition: transform 1s ease, box-shadow 0.3s ease;
  -o-transition: transform 1s ease, box-shadow 0.3s ease;
}

.products-listing_item:hover {
  transform: scale(1.025);
  box-shadow: 5px 5px rgba(172, 172, 172, 0.5);
}

.product-item_content {
  text-align: center;
  padding: 5%;
}
.product-item_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.product-item_image:hover {
  transform: scale(1.0125);
}

.product-item_title {
  font-size: 1.5rem;
  font-weight: 100%;
  color: #923291;
}

.product-item_caption {
  font-size: 1rem;
  color: #2b2b2b;
  margin-top: 5px;
  padding: 5px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .products-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .products-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-listing {
    grid-template-columns: 1fr;
  }
}
.see-more {
  text-align: center;
  align-items: center;
  margin-top: 50%;
}

.see-more a {
  font-size: 1.2rem;
  color: #923291;
  text-decoration: none;
  font-weight: bold;
  padding: 4%;
  background-color: #fef9ff;
  border: 1px solid black;
  transition: background-color 2s ease;
}

.see-more a:hover {
  background-color: #923291;
  color: #fef9ff;
}
