/* Main FAQ Section */

.faq-section h2 {
  padding: 3%;
}
.faq-section {
  padding-top: 10%;
  padding-bottom: 10%;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  background: #feeaf3;
  color: #333;
  border: none;
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  width: 100%;
  text-align: left;
}

.faq-question:hover {
  background: #efc5d8;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faq-answer.active {
  max-height: 500px;
  opacity: 1;
}

.faq-answer p {
  background: #f7fefa;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
}