.main_div_footer {
  background-color: #dfcfef;
  display: flex;
  justify-content: center;
  gap: 10%;
  text-align: center;
  align-items: center;
  padding: 2%;
}
.title-in-footer {
  text-decoration: none;
  color: blueviolet;
}
.sparkle {
  color: rgb(255, 255, 255);
}
